body{
    /*background-color: #fdf6e3;*/
    background-image:url("assets/book-quiz2.jpg");
    background-repeat:repeat-y;
    background-size:1920px 1080px;
}

#header{
	text-align: left;
	height: 10;
	margin-top:90px;
}
#logo{
    height:40px;
    margin-left:50%;
}
#loginSpan{
	float: right;
	margin-right: 50px;
	font-size: 18px;
}
#title{
    margin-left:9%;
    /*font-family: 'titleFont', Times, serif;*/
    font-size: 90px;
}
#title a {
    text-decoration:none;
    color:#9b1521;
    /#8B4513;
}
#navigation{
	clear:both;
	padding-top:50px;
}
#navigation ul{
	list-style:none;
	font-size:25px;
	border:1px solid black;
        background-color:#999999;
        padding-left:9.5%
}
.navButtons > li{
	display:inline;
	margin-right: 50px;
}
#footer{
	text-align:center;
	clear:both;
	padding-top: 50px;
}
#leftmost{
	border-left:solid 1px black;
}
#footer >ul > li{
	list-style:none;
	font-size:12px;
	display:inline;
	border-right: solid 1px black;
	padding: 10 10;
}
.content{
	float:left;
	text-align:center;
}
#new{
	width:50%;
}
#pop{
	width:50%;
}
#Content{
    min-width: 850px;
    min-height: 400px;
}

.loginDiv{
	width:30%;
	text-align:center;
	border: 1px solid black;
	padding-top: 10px;
	background-color: #999999;
        font-weight:normal;
}
.loginDiv form{
    margin-top:10px;
}
#newUser label{
    width:170px;
    text-align:left;
}
#oldUser{
	float:left;
	padding-right:0px;
        margin-left: 10%;       
}
#oldUser label{
    width: 100px;
    text-align:left;
}
#newUser{
    float:right;
    margin-right:10%;
}
label{
	display:inline-block;
	width:100px;
	padding-bottom:15px;
}
#add{
    float:left;
}
.addform {
    color:white;
}
#books{
    margin-left: 20%;
    border-spacing:10px;
}
th{
    color:white;
}
td{
	border:1px solid white;
	margin: 20 20;
	text-align:center;
        color:white;
}
tr{
    margin-bottom:5px;
    
}
#searchBox{
	margin-left:0;
}
p{
	max-width:400px;
	margin-left:30px;
}
#settings{
	width:30%;
	text-align:left;
	border: 1px solid black;
	padding-top: 10px;
	background-color: #999999;
        padding-left:9.5%
}
#settings label{
    width:200px;
}
.errorMessage {
    color:red;
    font-weight:bold;
}
.badBox {
    border: 2px solid #FF0000;
    border-radius: 2px;
}
.goodBox {
    border: 2px solid #00FF00;
    border-radius: 2px;
}
.hidden {
    visibility: hidden;
}
a {
    text-decoration:none;
    color:black;
}
#current a{
    color:#17452D;
    background-color:white;
}
#head {
    color:black;
}
h1.about{
    color:black;
    margin-left:70.5%;
    font-family: 'Raleway', sans-serif;
}
p.about{
    color:black;
    margin-left:70%;
    font-size: 25px;
    text-align:center;
    font-family: 'Raleway', sans-serif;
}
.about a{
    text-decoration:underline;
    color:blue;
}
#signin{
    text-decoration:underline;
    color:blue;
}
input{
    border: 1px solid black;
    border-radius: 2px;
}
#submitButton:hover{
    background-color:white;
}
#submitButton{
    margin-left:25%;
}
